.DesktopInputExplanation {
    text-align: center;
    margin-top: 40px;
}

.Explanation-Title {
    font-size: 22px;
    font-weight: 500;
}

.Kcal-Breakdown-Wrap {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin-top: 15px;
}

.Kcal-Breakdown {
    font-size: 16px;
    font-weight: 200;
}

.Explanation-Recommendation {
    font-size: 14px;
    font-weight: 100;
    color: #969696;
    margin-top: 30px;

}